alpaca-py==0.30.0
apscheduler==3.10.4
pyyaml==6.0.1
sendgrid==6.11.0
requests==2.32.3
gspread==6.1.2
google-api-python-client==2.138.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
markdown-it-py==3.0.0
